<div class="container">
    <div class="row">


        <h1 style="text-align: center; margin: 50px 0;"><i class="fas fa-horse-head" style="color: #d82c2e;"> </i> Tout nos chevaux</h1>

        <table class="table table-hover table-dark" style="text-align: center;">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Couleur</th>
                <th scope="col">Disponibilité</th>
                <th *ngIf= "userAuth" scope="col">Editer</th>
              </tr>
            </thead>
            <tbody *ngFor= " let horse of horseList">
              <tr  >
                <th scope="row"></th>
                <td>{{ horse.name }}</td>
                <td>{{ horse.color }}</td>
                <td>
                    <span *ngIf="horse.is_available">Disponible</span>
                    <span class="orange" *ngIf="!horse.is_available">Indisponible</span>
                </td>
                <td  *ngIf= "userAuth" >
                <button (click)="getUpdate(horse)" class="btn btn-success">
                        Modifier
                    </button>
                    |
                    <button (click)="deleteHorse(horse.id)" class="btn btn-danger">
                        Supprimer
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<div *ngIf="modify" class="container">
    <div class="container-content row">

        <h1 style="text-align: center; margin: 50px 0;"><i class="fas fa-horse-head" style="color: #d82c2e;"></i> Mettre à jour une monture</h1>

        <div>
            <button class="btn-cancel">Annuler</button>

            <div class="add-content form-group row mb-2" >
              <label for="name" class="col-sm-2 col-form-label">Nom</label>

              <div class="col-sm-10">
                <input [(ngModel)]="inputName" class="form-control" value="inputName">
              </div>
            </div>

            <div class="form-group row">
              <label for="color" class="col-sm-2 col-form-label">Couleur</label>

              <div class="col-sm-10">
                <input [(ngModel)]="inputColor" type="text" class="form-control mb-4" value="inputColor">
            </div>
              </div>

              <div class="form-group row">
                <label for="color" class="col-sm-2 col-form-label"></label>

                <div class="col-sm-10">

                    <div class="form-check">
                        <input [(ngModel)]="radioAvailable"  type="radio" id="flexRadioDefault1" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Disponible
                        </label>
                      </div>
                      <div class="form-check">
                        <input [(ngModel)]="radioAvailable" type="radio" id="flexRadioDefault2" value="0" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Indisponible
                        </label>
                      </div>


                </div>
<!--
                <div *ngIf="radioAvailable" class="col-sm-10">

                    <div class="form-check">
                        <input [(ngModel)]="radioAvailable" type="radio" id="flexRadioDefault1" value="1" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            Disponible
                        </label>
                      </div>
                      <div class="form-check">
                        <input [(ngModel)]="radioAvailable" type="radio" id="flexRadioDefault2" value="0" >
                        <label class="form-check-label" for="flexRadioDefault2">
                            Indisponible
                        </label>
                      </div>
                    </div> -->


                </div>
                <div class="col-sm-10">
                    <button (click)= "updateHorse()" class="btn btn-primary">Modifier</button>
                    <br><br>
                </div>


          </div>
    </div>
</div>

