<div class="nav-content">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <a class="navbar-brand" routerLink=""><span class="fas fa-home"></span></a>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="horses">Horses</a>
        </li>
        <li *ngIf= "!userAuth" class="nav-item">
            <a class="nav-link" routerLink="login"><span class="fas fa-lock"></span> New Horse</a>
        </li>
        <li *ngIf= "userAuth" class="nav-item">
            <a class="nav-link" routerLink="addHorse">New Horse</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="addHorse">New Horse Test</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact</a>
        </li>

        <li *ngIf= "!userAuth" class="nav-item">
            <a class="nav-link" routerLink="login">Se connecter</a>
        </li>

        <li *ngIf= "userAuth" class="nav-item">
            <span class="nav-link">Hello, <span class="orange" style="text-transform: uppercase;">{{ userAuth.login }}</span> </span>
        </li>

        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" routerLink="login">
                Authentification
            </a>

            <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="login">Se connecter</a>
            <a class="dropdown-item" routerLink="">Se deconnecter</a>

            </div>
        </li> -->


    </ul>

</nav>

<div class="bg-dark navbar-dark">
    <h1 class="navbar-brand centre-questre">Centre Equestre <span class="fas fa-horse-head"></span> Angu-<span class="orange">Lar  </span> </h1>
</div>

</div>
