<div class="nav-content">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <a class="navbar-brand" routerLink=""><span class="fas fa-home"></span></a>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="horses">Horses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact</a>
        </li>
    </ul>

</nav>

<div class="bg-dark navbar-dark">
    <h1 class="navbar-brand centre-questre">Centre Equestre Angu-<span class="orange">Lar</span></h1>
</div>

</div>
