<div class="container">
    <div class="container-content">

        <h1><span class="fas fa-horse-head fa-2x me-3 pt-5 mt-xl-4"></span>Bienvenue au centre equestre  Angu-<span class="orange">Lar</span></h1>
        <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Quos ratione iusto sequi, debitis ab illo rem officia.
            Itaque quo aliquam neque architecto, sint ipsum nesciunt
            beatae exercitationem, corrupti, quos praesentium?
        </p>
    </div>

</div>
<section class="flex-center">
    <div class="row">
        <div class="col-sm">
            <img class="size-image" src="/assets/images/femme.jpg" alt="">

            <p> hic consequuntur alias voluptatem accusamus sed magni ipsa.
            </p>
            <a class="btn btn-primary" routerLink="/horses">En savoir plus</a>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">

        <div class="col-sm">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, nemo ab! Assumenda vel, nobis consectetur velit autem nulla voluptatum consequuntur architecto eligendi deserunt similique atque ab rerum fugit quia voluptas.</p>
            <img class="size-image" src="/assets/images/chevaux.jpg" alt="">


        </div>
        <div class="col-sm">
            <img class="size-image" src="/assets/images/sunset.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti id quasi autem omnis ut natus
                laudantium unde ipsa animi. Quidem tempora ipsam maxime ratione recusandae? Dolorem id iusto rem ea.</p>
                <a class="btn btn-primary" routerLink="/contact">Contactez nous</a>
            </div>
    </div>
</div>
